._1AtVbE {
    display: block;
}


.col-12-12 {
    width: 100%;
}

.zab8Yh:last-child {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}
.zab8Yh:first-child {
    border-top: 0;
}
._10k93p {
    border-top: 1px solid #f0f0f0!important;
}
.zab8Yh {
    border-top: 1px solid #f0f0f0;
    padding: 24px;
    position: relative;
    background: #fff;
    max-width: 950px;
}
.zab8Yh ._2nQDXZ {

    display: flex;
}
a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
.zab8Yh ._3fSRat {
    padding: 0 24px 12px;
    vertical-align: top;
    min-height: 112px;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden;
    max-width: 460px;
}
.zab8Yh ._3fSRat ._2-uG6- {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}
.zab8Yh ._3fSRat ._2Kn22P {
    font-size: 16px;
    color: #212121;
    line-height: 1;
    display: inline;
}
a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
.zab8Yh ._3fSRat ._20RCA6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.zab8Yh ._3fSRat ._3ZS8sw, .zab8Yh ._3fSRat ._20RCA6 {
    display: block;
    color: #878787;
    font-size: 14px;
    height: 20px;
}
zab8Yh ._3fSRat ._3ZS8sw {
    margin-top: 8px;
}

.zab8Yh ._3fSRat ._3ZS8sw, .zab8Yh ._3fSRat ._20RCA6 {
    display: block;
    color: #878787;
    font-size: 14px;
    height: 20px;
}
.zab8Yh ._3fSRat ._3ZS8sw .WC-2wP {
    height: 15px;
    vertical-align: middle;
    margin: 0 6px;
}
._1WpvJ7 {
    font-size: 18px;
    font-weight: 500;
    color: #212121;
}
._2-ut7f {
    display: inline-block;
    margin-right: 8px;
    margin-top: 18px;
}
.zab8Yh ._2zbf83, .zab8Yh ._3i_aKj {
    vertical-align: top;
    -webkit-flex: 0 0 242px;
    -ms-flex: 0 0 242px;
    flex: 0 0 242px;
    margin-left: auto;
}

._10k93p ._1hNI6F {
    padding-top: 10px;
}

.zab8Yh .nZz3kj {
    display: block;
}

.zab8Yh .nZz3kj ._1uc2IE {
    width: var(--cart-item-image-width);
    text-align: center;
    display: inline-block;
}

._3dY_ZR {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #212121;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

._3dY_ZR ._23FHuj:disabled {
    color: #c2c2c2;
    border-color: #e0e0e0;
    cursor: auto;
}

._3dY_ZR ._23FHuj {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}


._3dY_ZR ._26HdzL {
    display: inline-block;
    padding: 3px 6px;
    width: calc(100% - 60px);
    height: 100%;
    width: 46px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
}


._3dY_ZR ._26HdzL ._253qQJ {
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}


._3dY_ZR ._23FHuj {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}

.WDiNrH {
    padding-left: 24px;
}

.td-FUv {
    display: inline-block;
}
._10vWcL {
    clear: both;
}

._3dsJAO {
    display: inline-block;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 25px;
}

._396cs4 {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}

a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}